<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Red Social</title>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300"> 
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">                       
    <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">
    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this in a modern browser such as latest version of Chrome or Microsoft Edge.");</script>
</head>
<body>
    <div id="tm-bg"></div>
    <div id="tm-wrap">
        <div class="tm-main-content">
            <div class="container tm-site-header-container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-4 mb-4 tm-site-header-col">
                        <div class="tm-site-header">
                            <h1 class="mb-4">RED SOCIAL</h1>
                            <img src="{% static 'img/underline.png' %}" class="img-fluid mb-4">
                            <p>La nueva red social para rodearte de la mejor gente con el mejor contenido</p>  
                            <button id="pure-button">Comenzar</button>        
                        </div>     
                    </div>
                 </div>        
            </div>
            <footer>
                <p class="small tm-copyright-text">Copyright &copy; <span class="tm-current-year">2018</span> Red Social. Layout: Tooplate</p>
            </footer>
        </div>  
    </div>
</body>
</html>