{% extends "base.html" %}

{% block styles %}
{% load static %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300">
  <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">
{% endblock %}

{% block title %}Beer Meet: Inicio{% endblock %}

{% block content %}
	<div id="tm-bg">
        <div class="contenedor-form">
            <div class="toggle">
                <span>Crear Cuenta</span>
            </div>

            <div class="formulario">
                <h1><img src="{% static 'img/Wallpaper.png' %}"></h1>
                <h1>Beer Meet</h1>
                <form action="{% url 'inicio' %}" method="post">
	               {% csrf_token %}
	                <div><input type="text" name="usuario" placeholder="Usuario" required></div>
	                <div><input type="password" name="password" placeholder="Contraseña" required></div>
	                <div><input type="submit" name="Entrar" value="Entrar"></div>
	            </form>
	             <p>La nueva red social para rodearte de la mejor gente</p>
            </div>

            <div class="formulario">
                <h2>Crea tu Cuenta</h2>
                <form action="{% url 'inicio' %}" method="post" enctype="multipart/form-data">
                	{% csrf_token %}
                    <input type="text" name="usuario1" placeholder="Usuario" required>
                    <input type="password" name="password1" placeholder="Contraseña" required>
                    <input type="text" name="nombre" placeholder="Nombre" required>
                    <input type="text" name="apellidoUno" placeholder="Primer Apellido" required>
                    <input type="text" name="apellidoDos" placeholder="Segundo Apellido" required>
                    <input type="email" name="correo" placeholder="Correo Electronico" required>
                    <ul>
                   		{% if lista_Ciudad %}
                        <li><label>Ciudad: </label>
                             <select name="ciudad" id="ciudad" required>
                       			{% for ciudad in lista_Ciudad %}
    								<option>{{ciudad.nombreCiudad}}</option>
    							{% endfor %}
                            </select></li>
						{% endif %}
                        {% if lista_EstadoCivil %}
                        <li><label>Estado Civil: </label>
                             <select name="estadoCivil" placeholder="Estado Civil" required>
                                {% for estado in lista_EstadoCivil %}
                                    <option>{{estado.nombreEstadoCivil}}</option>
                                {% endfor %}
                            </select></li>
                        {% endif %}
                        {% if lista_Aficiones %}
                        <li><label>Aficiones: </label>
                            <select name="aficiones" placeholder="Aficiones" multiple="multiple" required size=2>
                                {% for estado in lista_Aficiones %}
                                    <option>{{estado.nombreAficion}}</option>
                                {% endfor %}
                            </select></li>
                        {% endif %}
                    </ul>
                    <input type="tel" name="telefono" placeholder="Teléfono" required>
                    <input type="date" name="fecha_nacimiento" placeholder="Fecha de Nacimiento" required>
                    <input type="text" name="descripcion" placeholder="¿Cómo te defines?" required><input type="text" name="descripcionAmplia" placeholder="Describete ..." required>
                    <input type="file" name="fotoPerfil" placeholder="Foto de Perfil" required>
                    <input type="submit" value="Registrarse">
                </form>
            </div>
            <div class="reset-password">
                <a href="#">Olvide mi Contraseña?</a>
            </div>
        </div>
    </div>
   <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
   <script src="{% static 'js/principal.js' %}"></script>
{% endblock %}
