{% extends "base.html" %}

{% load i18n %}

{% block styles %}
{% load static %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300">
  <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">
{% endblock %}

{% block title %}{% trans "Beer Meet: StartPage" %}{% endblock %}

{% block content %}
	<div>
        <div>
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="OK">
                </form>
            </div>
        <div class="contenedor-form">
            <div class="toggle">
                <span>{% trans "Create Account" %}</span>
            </div>
            <div class="formulario">
                <h1> <img src="{% static 'img/Wallpaper.png' %}" alt ="icono de la web BeerMeet"></h1>
                <h1>Beer Meet</h1>
                <form action="{% url 'inicio' %}" method="post">
	               {% csrf_token %}
	                <div><input type="text" name="usuario" placeholder="{% trans 'User' %}" required></div>
	                <div><input type="password" name="password" placeholder="{% trans 'Password' %}" required></div>
	                <div><input type="submit" name="Entrar" value="{% trans 'Log In' %}"></div>
	            </form>
	             <p>{% trans "The new social media to be with the best people" %}</p>

            </div>

            <div class="formulario">
                <h2>{% trans "Create your account" %}</h2>
                <form action="{% url 'inicio' %}" method="post" enctype="multipart/form-data">
                	{% csrf_token %}
                    <input type="text" name="usuario1" placeholder="User" required>
                    <input type="password" name="password1" placeholder="Password" required>
                    <input type="text" name="nombre" placeholder="Name" required>
                    <input type="text" name="apellidoUno" placeholder="First surname" required>
                    <input type="text" name="apellidoDos" placeholder="Second surname" required>
                    <input type="email" name="correo" placeholder="Email" required>
                    <ul>
                   		{% if lista_Ciudad %}
                        <li><label>City: </label>
                             <select name="ciudad" id="ciudad" required size=1>
                       			{% for ciudad in lista_Ciudad %}
    								<option value="">{{ciudad.nombreCiudad}}</option>
    							{% endfor %}
                            </select></li>
						{% endif %}
                        {% if lista_EstadoCivil %}
                        <li><label>Civil State: </label>
                             <select name="estadoCivil" required size=1>
                                {% for estado in lista_EstadoCivil %}
                                    <option value = "">{{estado.nombreEstadoCivil}}</option>
                                {% endfor %}
                            </select></li>
                        {% endif %}
                        {% if lista_Aficiones %}
                        <li><label>Afitions: </label>
                            <select name="aficiones"  multiple="multiple" required size=2>
                                {% for estado in lista_Aficiones %}
                                    <option>{{estado.nombreAficion}}</option>
                                {% endfor %}
                            </select></li>
                        {% endif %}
                    </ul>
                    <input type="tel" name="telefono" placeholder="Phone" required>
                    <input type="date" name="fecha_nacimiento" required>
                    <input type="text" name="descripcion" placeholder="¿How do you describe yourself?" required><input type="text" name="descripcionAmplia" placeholder="Describe yourself..." required>
                    <input type="file" name="fotoPerfil" required>
                    <input type="submit" value="Create account">
                </form>
            </div>
            <div class="reset-password">
                <a href="#">{% trans "Create your account" %}</a>
            </div>
        </div>
    </div>
   <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
   <script src="{% static 'js/principal.js' %}"></script>
{% endblock %}
