{% extends "base.html" %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300">
<link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">
{% endblock %}

{% block title %}Red Social{% endblock %}

{% block content %}
<div class="row">
    <div class="row">
      {% load static %}
      <h1><img src="{% static 'img/Wallpaper.png' %}"></h1>
    </div>
    <div>
        <h2 class="mb-4">Beer Meet</h2>
    </div>
    <div>
        <form action="{% url 'inicio' %}" method="post">
        {% csrf_token %}
        <div><input type="text" name="usuario"></div>
        <div><input type="password" name="password"></div>
        <div><input type="submit" name="Entrar" value="Entrar"></div>
        </form>
        <p class='a'>La nueva red social para rodearte de la mejor gente con el mejor contenido</p>
    </div>
 </div>
 <div>
     <ul>
      <li><span>Entrar</span></li>
      <li><span><a class="hiper" href="https://www.instagram.com">Instagram</a></span></li>
      <li><span><a class="hiper" href="https://www.twitter.com">Twitter</a></span></li>
      <li><span><a class="hiper" href="https://www.youtube.com">Youtube</a></li></span></li>
    </ul>
 </div>
{% endblock %}
